
/*	Animations - WebKit only
------------------------------------------ */
.boat {
	animation: rock-boat 3s ease-in-out infinite;
}

.boat::after {
	animation: steam 4s 2s infinite;
}
body {
	animation: bg-move 8s ease-out forwards;
}

.mike {
	animation: mike-move 6s 6s ease-out forwards,
	mike-float 3.2s infinite;}


/*	Keyframes - WebKit only
------------------------------------------ */
@keyframes rock-boat {
	0% 		{
		transform: rotate(0) translateY(0);
	}
	50% 	{
		transform:rotate(-5deg) translateY(-10px);
	}
	100% 	{
		transform:rotate(0) translateY(0);
		}
}

@keyframes steam {
	0% {opacity: 0;}
	40%,60% {opacity: 1;}
	100% {transform:translate(-15%,-35%) rotateZ(20deg);}
}

@keyframes bg-move {
	0% {background-position: 100% -460px;}
	100%{background-position: -350% -460px;}
}
		
@keyframes mike-move {
	100% {left:12%;}
}

@keyframes mike-float {
	50% {transform: rotateZ(5deg) translateY(-5px);}
}













